@model IEnumerable<Praksa.Models.Dnevnik>

@{
    ViewBag.Title = "Bilješke";
    Layout = "~/Views/Shared/_mylajout.cshtml";
}
<center>
    <h2>Bilješke</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zabiljeska)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zabiljeska)
                </td>
            </tr>
        }

    </table>
</center>