
@{
    ViewBag.Title = "NemaPrakse";
    Layout = "~/Views/Shared/_mylajout.cshtml";
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="center">
        <h1 class="center">Nemate prijavljenu praksu</h1>
        <p>
            @Html.ActionLink("Prijavi praksu", "Index", "Poduzeca")
        </p>
    </div>
</body>


