@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="center">Ovo je stranica na kojoj studenti prijavljuju praksu </h2>
    </div>
</div>